
.container {
    width: 90%;
    margin: auto;
}

/* Ajuste para notebooks */
@media screen and (max-width: 1366px) {
    .container {
        width: 85%;
    }
}

/* Ajuste para tablets */
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .service, .contact-box, .social-box {
        flex-direction: column;
        text-align: center;
    }
    .service img {
        width: 100%;
    }
    .service .text, .contact-box p {
        width: 100%;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Ajuste para celulares (Android e iOS) */
@media screen and (max-width: 768px) {
    h2, h3 {
        font-size: 1.2em;
    }
    .container {
        padding: 10px;
    }
    .social-box a {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    nav ul li:last-child {
        border-bottom: none;
    }
}
